body, html{
	height: 100%;
}
button:hover{
	cursor: hand;
	cursor: pointer;
}
.contenedor{
	display:flex;
	flex: 1 1 auto;
	height: 100%;
}
.contenido, .panel{
	margin: 10px;
}
.pantalla{
	display: flex;
	justify-content: center;
	height: 100%;
	margin-top: 10px;
}
.panel{
	display: flex;
	width: 20%;
	flex-flow: column;
	align-items: center;
	height: 60%;
	border: solid black 1px;
	border-radius: 5px;
	padding: 10px;	
}

.opcion-1, .opcion-2{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}
.opcion-1{
	background-color: #262626;
	height: 300px;
	padding: 10px;
}
.opcion-2{
	height: 150px;
	background-color: #262626;
	padding: 10px;
}
.opcion-2 > select#filtros {
	margin-top: 10px;
	width: 80%;
	height: 35px;
	border: none;
	border-radius: 5px;
	font-size: 1.0em;
}
button.boton-filtro{
	margin-top: 10px;
	width: 40%;
	height: 30px;
	border: solid #FFFFFF 1px;
	border-radius: 5px;
	background-color:  rgba(0,0,0,.3);
	color: white;
	font-size: 1.1em;
	transition: all ease 0.3s;
}
button.boton-filtro:hover{
	border: none;
	border-radius: 5px;
	background-color: #2885B8;
	cursor: pointer;
	cursor: hand;
}
.contenido{
	display: flex;
	flex-flow: column;
	width: 80%;
	align-items: center;
	padding: 10px;
	margin-right: 20px;	
}
.resultados{
	display: flex;
	flex: 1 1 auto;
	flex-flow: row wrap;
	background-color: rgba(0, 0, 0, .3);
	justify-content: center;
}
.categorias-r{
	margin-left: 0px;
}

.caja-busqueda{
	display: flex;
	width: 100%;
	height: 10%;
	padding: 10px;

}
.buscador{
	display: flex;
	justify-content: center;
	width: 80%;
}
.boton{
	display: flex;
	justify-content: center;
	width: 20%;
}

/* detalle con altura*/
.buscador > input, .boton > button{
	width: 100%;
	min-height: 60px;
	font-size: 1.1em;
}
.opcion-1>button{
	width: 80%;
}
.area{
	display: flex;
	flex-flow: row wrap;
	/*background-color: white;*/
	width: 100%;
	justify-content: center;
	margin: 10px;
	padding: 10px;
	overflow-y: scroll;
	height: 90%;
}
.orden{
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.orden > label{
	margin-bottom: 10px;
}

.boton > button{
	border: none;
	font-size: 1.1em;
	color: white;
	background-color: #2885B8;
	border-top-right-radius: 15px;
}
@media (max-width: 1200px){
	.caja-busqueda{
		height: auto;
	}
	.resultados{
		margin-top: 10px;
	}
	.pantalla{
		flex-flow: column;
		align-items: center;
		height: auto;
		margin-top: 20px;
	}
	.panel{
		flex: 1 1 auto;
		width: 95%;
		height: auto;
		flex-flow: row;
		justify-content: center;
		align-items: center;
	}
	.opcion-1, .opcion-2{
		height: 80%;
		display: flex;
		flex: 1 1 auto;
		margin-top: 0px;
		margin-left: 5px;
		margin-right: 5px
		background-color: none !important;
	}
	.orden{
		flex-flow: row wrap;
		margin: 10px;
		width: 100%;
	}
	.orden > label{
		margin-left: 10px;
		margin-right: 10px;
	}
	.contenido{
		width: 95%;
		height: 80%;
		margin: 0;
	}
}

@media (max-width: 750px){
	html, body{
		height: auto;
	}
	.area{
		height: auto;
		min-height: 600px;
	}
	.caja-busqueda{
		max-height: 80px;
	}
	.panel{
		flex-flow: column;
		max-height: 400px;
		flex: 1 1 auto;
	}
	.opcion-1, .opcion-2{
		height: auto;
		flex: 1 1 auto;
	}
	.orden{
		display: flex;
		flex-flow: row wrap;
	}
	.pantalla{
		flex: 1 1 auto;
		margin-top: 10px;
		min-height: auto;
		max-height: none;
		height: auto;
		justify-content: flex-start;
	}
}