.resultado:hover{
	cursor: pointer;
	cursor: hand;
}

.resultado{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	/*background-color: skyblue;*/
	background-color: #3c3c3c;
	border-radius: 10px;
	max-height: 200px;
	max-width: 150px;
	overflow: hidden;
	border: solid gray 3px;
	margin: 15px;
}
.r-id{
	display: none;
}
.r-contenido{
	height: 70%;
	background-color: orange;
}
.r-peso, .r-tipo{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15%;
	width: 100%;
	/*background-color: orange;*/

}
.r-contenido > img {
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.pelicula{
/*	background-color: orange;*/
}
.serie{
/*	background-color: skyblue;*/
}
.juego{
/*	background-color: green;*/
}
.programa{
/*	background-color: purple;*/
}