body, html{
	height: 100%;
}

.contenedor{
	display:flex;
	flex: 1 1 auto;
	height: 100%;
}
.contenido, .panel{
	margin: 10px;
}
.pantalla{
	display: flex;
	justify-content: center;
	height: 100%;
	margin-top: 10px;
}
.panel{
	display: flex;
	width: 20%;
	flex-flow: column;
	align-items: center;
	height: 60%;
	border: solid black 1px;
	border-radius: 5px;
	padding: 10px;	
}

.opcion-1, .opcion-2{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}
.opcion-1{
	/*background-color: gray;*/
	height: 70%;
}
.opcion-2{
	height: 30%;
	/*background-color: orange;*/
}
.contenido{
	display: flex;
	flex-flow: column;
	width: 80%;
	align-items: center;
	padding: 10px;
	margin-right: 20px;	
}
.resultados{
	display: flex;
	flex: 1 1 auto;
	flex-flow: row wrap;
	background-color: rgba(0, 0, 0, .3);
	justify-content: center;
}
.categorias-r{
	margin-left: 0px;
}

.caja-busqueda{
	display: flex;
	/*background-color: white;*/
	width: 100%;
	height: 10%;
	padding: 10px;
}
.buscador{
	display: flex;
	justify-content: center;
	width: 80%;
	background-color: purple;
}
.boton{
	display: flex;
	justify-content: center;
	width: 20%;
	background-color: blue;
}

/* detalle con altura*/
.buscador > input, .boton> button{
	width: 100%;
	min-height: 60px;
}
.opcion-1>button{
	width: 80%;
}
.area{
	display: flex;
	flex-flow: row wrap;
	/*background-color: white;*/
	width: 100%;
	justify-content: center;
	margin:10px;
	overflow-y: scroll;
	height: 90%;
}
.orden{
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.orden > label{
	margin-bottom: 10px;
}
.navegacion{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10%;
	flex-flow: row;
	background-color: white; 
}
.navegacion > .anterior{
	display: flex;
	background-color: gray; 
	width: 40%;
	margin: 10px;
	justify-content: center;
}
.navegacion > .siguiente{
	background-color: blue;
	display: flex;
	width: 40%;
	margin: 10px;
	justify-content: center;
}

@media (max-width: 1200px){
	.pantalla{
		flex-flow: column;
		align-items: center;
	}
	.panel{
		flex: 1 1 auto;
		width: 95%;
		height: auto;
		flex-flow: row;
		justify-content: center;
		align-items: center;
	}
	.opcion-1, .opcion-2{
		height: 80%;
		display: flex;
		flex: 1 1 auto;
		margin-top: 0px;
		margin-left: 5px;
		margin-right: 5px
	}
	.orden{
		flex-flow: row;
		margin: 10px;
		width: 100%;
	}
	.orden > label{
		margin-left: 10px;
		margin-right: 10px;
	}
	.contenido{
		width: 95%;
		height: 80%;
		margin: 0;
	}
}

@media (max-width: 1000px){}