
.area{
	display : flex;
	flex-flow: row;
	background-color: orange;
	margin-top: 10px;
	height: 800px;
}
.area > .panel-izq{
	display: flex;
	flex-flow: column;
	flex: 2 1 auto;
	background-color: white;
	margin: 10px;
}
.panel-izq > .nombre-categoria{
	display: flex;
	justify-content: center;
	background-color: gray;
	margin: 10px;
	height: 20%;
	align-items: center;
}
.panel-izq > .opciones-categoria{
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: gray;
	margin: 10px;
	height: 90%;
}
.area > .panel-der{
	display: flex;
	flex-flow: column;
	flex: 8 1 auto;
	align-items: center;
	background-color: white;
	margin: 10px;

}

.panel-der > .buscador-categoria{
	display: flex;
	background-color: gray;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 10%;
	margin-top: 10px;
}
.buscador-categoria > .barra{
	display: flex;
	flex: 8 1 auto;
	background-color: orange;
}
.buscador-categoria > .boton{
	display: flex;
	flex: 2 1 auto;
	background-color: orange;
}
.buscador-categoria > .boton > button,
.buscador-categoria > .barra > input{
	width: 100%;
	height: 40px;
}
.panel-der > .resultados{
	display: flex;
	flex-flow: row wrap;
	background-color: gray;
	margin-top: 10px;
	width: 95%;
	height: 90%;
	padding: 10px;
	margin-bottom: 10px;
	overflow-y: scroll;
}