*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.color-fuente-1{
	color: #ffffff;
}
.color-fuente-4{
	color: #2085B8;
}
.fuente-1{
 font-family: Arial;
}
.cuerpo-2{
	font-size: 22px;
}
.cuerpo-3{
	font-size: 20px;
}
.subtitulo-1{
	font-size: 12px;
}
.contenedor{
	display:flex;
	flex: 1 1 auto;
	background-color: skyblue;
	justify-content: center;
}
.correo{
	display: flex;
	flex: 1 1 auto;
	flex-flow: column;
	max-width: 500px;
	height: 625px;
	align-self: center;
}
.correo-logo{
	display: flex;
	width: 100%;
	height: 15%;
	background-color: #000;
	justify-content: center;
	overflow: hidden;
}
.correo-cuerpo{
	display: flex;
	height: 70%;
	width: 100%;
	flex-flow: column;
	justify-content: center;
	background-color: #0c0c0c;
}
.correo-footer{
	display: flex;
	background-color: #000;
	height: 10%;
	width: 100%;
}
.cuerpo-titulo, .cuerpo-usuario, .cuerpo-texto, .correo-footer{
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}
.correo-footer{
	height: 15%;
	flex-flow: column;
	align-items: center;
}
.correo-footer > label{
	margin-top: 10px;
}
.cuerpo-usuario > label{
	margin:20px;
}
@media (max-width: 500px){
	.contenedor{
		width: 100%;
	}
	.correo{
		width: 100%;
	}
}