/*HOJA DE ESTILO PARA INDEX*/
/* 1920px (PC) - 1200px (laptop) */	
/*body{
	background-color: rgba(255,230,80,.6);
} */
.contenedor{
	display:flex;
	flex: 1 1 auto;
	flex-flow: column;
	
	/*width: 100%;*/
}
.cuenta > .cuenta-opc1:hover, .cuenta > .cuenta-opc2:hover, .logo:hover{
	cursor: pointer;
	cursor: hand;
}
.seccion:hover{
	cursor: pointer;
	cursor: hand;
	font-size: 20px;
	background-color: #2085b8;
}
.seccion:click{
	background-color: #2085b8;
}
.header{
	display: flex;
	flex: 1 1 auto;
	/*width: 100%;*/
	border-bottom: solid #7d7979 2px;
}

.menu{
	background-color: black;
	color: white;
	text-align: center;
	display: flex;
	flex-flow: row;
	flex: 1 1 auto;	
	padding: 10px;
}
.logo{
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-self: center;
	background-color: red;
	width: 10%;
	margin-right: 20px;
	/*max-width: 20%;*/
}
.logo > img, .onboarding>img{
	width: 100%;
}
.buscador{
	height: 35px;
	display: flex;
	flex: 5 1 auto;
	justify-content: center;
	align-self: center;
	max-width: 60%;
	min-width: 50%;
}
.buscador-categoria{
	display:flex;
	flex: 1 1 auto;
}
.buscador-texto{
	display: flex;
	flex: 5 1 auto;
}
.buscador-boton{
	display: flex;
	flex: 1 1 auto;
}
.boton{
	border-top-right-radius: 10px;	
}
.boton>img{
	height: 30px;
	width: 30px;	
}
.propiedad{
	width: 100%;
}
.cuenta{
	display: flex;
	flex: 2 1 auto;
	justify-content: center;
	align-self: center;
	max-width: 20%; 
}
.cuenta > .cuenta-opc1, .cuenta > .cuenta-opc2{
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
}
.onboarding{
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-self: center;
	max-width: 50px;
	max-height: 50px;
	margin-right: 10px;
}
.onboarding:hover{
	background: url(../img/foco-activo.png);
	background-position: center;
	background-attachment: contain;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	cursor: pointer;
	cursor: hand;
}


.principal{
	display: flex;
	flex: 1 1 auto;
	flex-flow: column;
	align-items: center;
	justify-content: center;
/*	background-color: white;*/
}
.contenedor-carousel{
	background-color: #273d7d;
	height: 600px;
	width: 100%;
	display: flex;
	flex: 1 1 auto;
	flex-flow: row;	
	justify-content: center;
	align-items: center;
}

.principal-nav{
	background-color: rgba(0,0,0,.9);
	width: 100%;
	display: flex;
	flex: 1 1 auto;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
	position: absolute;
	bottom: 0;

}

.seccion{	
	width: 100%;
	height: 50px;
	display: flex;
	flex-flow: column;
	border-left: solid gray;
	border-right: solid gray;
	border-width: 1px;
	align-items: center;
	justify-content: center;
}
.grupos{
	display: flex;
	flex: 1 1 auto;
	flex-flow: column;
	align-items: center;
	justify-content: center;

/*	background-color: white;*/
	 
/*	margin:15px;*/
}
.footer{
	background-color: black;
	display: flex;
	flex-flow: row wrap;
	align-items: center; 		
	color: white;	
	flex: 1 1 auto;
}
.footer-columna{
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
	text-align: center;
	margin: 10px;
}
.espaciado{
	margin: 10px;
}

/* ----------------------------------------desastre-------------------------------------------------*/
.navbar-contenedor{
	border: solid gray;
	width: 80%;
	margin: 5px;
}
.navbar{
	/*background-color: black;	*/
}
.navbar-contenido{
	background-color: orange;
	display: flex;
	position: relative;
	margin: 10px;
}
.flecha-der:hover, .flecha-izq:hover{
	cursor: pointer;
	cursor: hand;
	color: black;
	background-color: rgba(255, 255, 255, .6);
}
.flecha-der, .flecha-izq{
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	height: 50%;
	top: calc( 50% - 25%);
	width: 50px;
	border: none;
	transition: .2s ease all;
	font-size: 25px;
	color: white;
}
.flecha-izq{
	left: 0;
}
.flecha-der{
	right: 0;
}
.navbar-contenido > .miniaturas{
	width: 100%;
	overflow: hidden;
	background-color: white;
	display: flex;
	scroll-behavior: smooth;
	justify-content: center;
}
.navbar-contenido> .miniaturas > .imagen{
	display: flex;
	flex-wrap: nowrap;
	width: auto;
	height: auto;
	transition: .3s ease all;
}
.miniaturas > .imagen > img{
	width: 100%;
}
/**tarjetas*/
.superior{
	/*background-color: gray;*/
	display: flex;
	flex: column;
	padding: 10px;
}
.categoria{
	/*background-color: skyblue;*/
	margin: 5px;
	border: solid gray;
	border-radius: 10px;
	width: 90%;
}
.tarjetas{
	/*background-color: orange;*/
	display: flex;
	position: relative;
	margin: 10px;
	
}
.tarjetas > .miniaturas{
	overflow: hidden;
	/*background-color: white;*/
	display: flex;
	scroll-behavior: smooth;
	padding: 20px 0;
}
.tarjetas > .miniaturas > .imagen{
	display: flex;
	flex-wrap: nowrap;
	min-width: 20%;
	transition: .3s ease all;
}
.tarjetas > .miniaturas > .imagen > img{
	width: 100%;
}

/**/
.tarjetas > .miniaturas > .imagen:hover{
	transform: scale(1.2);
	transform-origin: center;
}

/* MEDIA QUERY*/
@media (max-width: 600px){
	.tarjetas > .miniaturas > .imagen{
	min-width: 33.33%;
	}

	.categoria{
		/*background-color: skyblue;*/
		width: 100%;
	}

	.navbar-contenedor{
		border: none;
		width: 100%;
		margin: 1px;
	}
	.menu{
		flex-flow: column;
		margin:0px;
		padding: 0px;
	}
	.logo{
		flex: 1 1 auto;
		width: 100%;
		margin: 0px;
	}
	.buscador{
		flex: 1 1 auto;
		width: 100%;
		margin:0px;
		max-width: 100%;
		min-width: 100%;
		align-self: none;
	}
	.buscador-categoria{
		flex: 1 1 auto;
		width: 20%;
	}
	.buscador-texto{
		flex: 1 1 auto;
		width: 70%;
	}
	.buscador-boton{
		flex: 1 1 auto;
		width: 10%;
	}
	.boton{
		border-top-right-radius: 0px;	
	}
	.cuenta{
		margin: 10px;
	}
	.onboarding{
		margin: 10px;
	}
}